

.container-fluid{
    background-color: #007af8;
    cursor: pointer;
}
.container-fluid:hover{
    background-color: rgb(1, 16, 18);
    transition: background-color 4s;
}
#navbarSupportedContent{
    color: white;
}
.btn-primary{
    color:black;
    background-color: white;
    margin-left: 10px;
}
.nav-link {
    margin-left: 10px;
    color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .show .nav-link{
    color:#efefef;
}