<app-header></app-header>
<div class="container">
    <form class="row g-3">
        <div class="col-sm-6">
          <label for="txtid" class="form-label">id</label>
          <input type="number" class="form-control" id="txtid" aria-describedby="emailHelp" name="customersid"
            [(ngModel)]="CustomerForm.id" />
      </div><br>
      <div class="col-sm-6">
        <label for="txtfirstname" class="form-label">firstName</label>
        <input type="text" class="form-control" id="txtname" aria-describedby="emailHelp" name="customersfirstname"
          [(ngModel)]="CustomerForm.firstName" />
      </div> <br>
      <div class="col-sm-6">
        <label for="textlastname" class="form-label">lastName</label>
        <input type="text" class="form-control" id="textlastname" aria-describedby="emailHelp" name="customerslastname"
          [(ngModel)]="CustomerForm.lastName" />
      </div> <br>
      <div class="col-sm-6">
        <label for="txtgender" class="form-label">gender</label>
        <input type="text" class="form-control" id="txtprice" aria-describedby="emailHelp" name="gender"
          [(ngModel)]="CustomerForm.gender" />
      </div> <br>
      <div class="col-sm-6">
        <label for="txtaddress" class="form-label">address</label>
        <input type="text" class="form-control" id="txtaddress" aria-describedby="emailHelp" name="customersaddress"
          [(ngModel)]="CustomerForm.address" />
      </div> <br>
      <div class="col-sm-6">
        <label for="txtcity" class="form-label">city</label>
        <input type="text" class="form-control" id="txtcity" aria-describedby="emailHelp" name="customerscity"
          [(ngModel)]="CustomerForm.city" />
      </div> <br>
      <div class="col-sm-6">
        <label for="txtstate" class="form-label">state</label>
        <input type="text" class="form-control" id="txtstate`" aria-describedby="emailHelp" name="customerscity"
          [(ngModel)]="CustomerForm.state.name" />
      </div> <br>
      <!-- <div class="col-sm-6">
        <label for="txtlatitude" class="form-lable">Latitude</label>
        <input type="number" class="form-control" id="txtlatitude" name="customerslatitude"
          [(ngModel)]="CustomerForm.latitude" />
      </div> <br>
      <div class="col-sm-6">
        <label for="txtl0ngitude" class="form-lable">Longitude</label>
        <input type="number" id="txtlongitude" class="form-control" name="customerslongitude"
          [(ngModel)]="CustomerForm.longitude">
      </div> <br> -->
      <div class="ud">
        <button class="btn btn-primary" type="button" (click)="update()">Update</button>&nbsp;
        <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
      </div> 
     
    </form> 
  </div>

  