<div class="container">
  <div class="row mt-2">

  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">gender</th>
        <th scope="col">Product Name</th>
        <th scope="col">itemCost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customersdata">
        <th scope="row">{{item.id}}</th>
        <td>{{item.firstName}} {{item.lastName}}</td>
        <td>{{item.gender}}</td>
        <!-- <td>{{item.productName}}</td> -->
        <td>
          <ul>
            <li *ngFor="let i of item.orders">{{i.productName}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let i of item.orders">{{i.itemCost}}</li>
          </ul>
        </td>
        <!-- <td> <li>{{i.itemCost}}</li></td> -->
      </tr>

    </tbody>
  </table>
</div>