<app-header></app-header>
<div class="container-fluid">
    <div class="font-icon">
        <img src="../../assets/images/1.png" alt="">
        <button>Customer Information</button>
    </div>
    <div class="row">
        <span class="col-sm-2 p-3 bg-white" (click)="CustomerDetails()"> <i class="fa fa-list" aria-hidden="true"></i>
            Customer Details
        </span>
        <span class="col-sm-2 p-3 bg-white" (click)="CustomerOrder()"> <i class="fa fa-tag" aria-hidden="true"></i>
            Customer Order
        </span>
        <span class="col-sm-2 p-3 bg-white" (click)="EditCustomer()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit Customer
        </span>
    </div>
</div>
