<h1 style="color:blue;">{{title}}</h1>
<div style="padding: 20px;">
    <div class="col-md-3">
        <label>firstname</label>
        <input class="form-control" #first>
    </div>
    <div class="col-md-3">
        <label>Lastname</label>
        <input class="form-control" #last>
    </div>
    <br>
    <div class="panel-footer">
        <button (click)="TransferData(first.value , last.value)" class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>

<div class="col-lg-5">
    <app-child [firstdata]="inputfirst" [lastdata]="inputlast" [objdata]="inputobj"></app-child>
</div>